[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
graphene-django = "*"
pillow = "*"
graphene-file-upload = "*"
django-graphql-jwt = "*"
django-multiselectfield = "*"
environ = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
django-environ = "*"
python-dotenv = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
